

/* Added per instruction #4 */
*, :before, :after {
  box-sizing: border-box;
 }
 
 body {
  background-color: #3d3d3d;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  background-color: lightgray;
  margin: 0 auto;
  width: 420px;
}

.restaurant-list h1 { 
  font-weight: bold;
  font-size: 20px;
  font-family: roboto;
}

.restaurant-list h3 { 
  font-size: 15px;
  font-family: roboto;
}

nav {
  margin: 5, 5, 5, 5;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 420px;
  background-color: black;
}

/* Added per instruction #7 */
.restaurant-list :hover { 
  background-color: darkgrey;
}

.restaurant-list {
  padding-top: 50px;
}

hr {
  width: 420px;
}​







.tile {
  padding: 100px;
}


.tile div{
  display: inline-block;
}


/* .arrow {
  float: right;
  margin-top: 10px;
} */



